/* home styles */
.home-main {
    min-height: calc(100vh - 8rem);
    display: flex;
    padding: 2rem 6rem;
    gap: 2rem;
}

.left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items:center; */
}

.left .head {
    font-size: 4.5rem;
    margin-bottom: 0.6rem;
    background: linear-gradient(128deg, #ff3838, #3515ff);
    color: transparent;
    background-clip: text;
    animation: bgChange 5s ease-in infinite;
}

@keyframes bgChange {
    0% {
        background-position: 800px;
    }

    25% {
        background-position: 372px;
    }

    50% {
        background-position: 0px;
    }

    75% {
        background-position: 372px;
    }

    100% {
        background-position: 800px;
    }

}

.left .subhead {
    font-size: 2.4rem;
    margin-bottom: 0.6rem;
    color: #00183acb;
}

.left .subhead span {
    font-weight: bold;
    font-size: 2.7rem;
}

.left .para {
    font-size: 1.1rem;
    margin-bottom: 3rem;
    color: #04000dcb;
}

.left .button {
    text-decoration: none;
    color: #cccccc;
    padding: 0.8rem 1.7rem;
    width: max-content;
    border-radius: 15px;
    font-weight: bold;
    font-size: 1rem;
    background: linear-gradient(128deg, #ff3838, #3515ff);
}

.left .button:hover {
    animation: bgChange 5s ease-in infinite;
}







/* add transaction page designs */

.transmain {
    min-height: calc(100vh - 8rem);
    display: flex;
    background: linear-gradient(128deg, #ff3838, #3515ff);
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.transcontainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    border-radius: 1rem;
    padding: 0.9rem 4rem 2rem 4rem;
    background: #ffffff;
    box-shadow:  10px 10px 23px #0c326f,
         -10px -10px 23px #430f0f;
}

.transcontainer form {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.field {
    display: flex;
    gap: 0.5rem;
    align-items: baseline;
    align-self: center;
}

.field label {
    font-size: 1.2rem;
}

.field input {
    font-size: 1.3rem;
    padding: 0.3rem 0.4rem 0.1rem 0.3rem;
}

.transcontainer form button {
    padding: 0.5rem;
    border-radius: 0.5rem;
    border: 1px solid grey;
    cursor: pointer;
    font-weight: bold;
    background-color: rgb(196, 230, 28);
}

.field button {
    cursor: pointer;
    width: 5rem;
}
.field a{
    color: #4f34fd;
    font-weight: 500;
    text-decoration: none;
}