/* home styles */
.home-main {
    min-height: calc(100vh - 8rem);
    display: flex;
    padding: 2rem 6rem;
    gap: 2rem;
    flex-wrap: nowrap;
}

.left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-basis: 50%;
    /* align-items:center; */
}

.left .head {
    font-size: 4.5rem;
    margin-bottom: 0.6rem;
    background: radial-gradient(circle at 33% 100%, #996a06 4%, #f15245 30%, #d92e7f 62%, #9b36b7 85%, #515ecf);
    color: transparent;
    background-clip: text;
    animation: bgChange 5s ease-in infinite;
}

@keyframes bgChange {
    0% {
        background-position: 800px;
    }

    25% {
        background-position: 372px;
    }

    50% {
        background-position: 0px;
    }

    75% {
        background-position: 372px;
    }

    100% {
        background-position: 800px;
    }

}

.left .subhead {
    font-size: 2.4rem;
    margin-bottom: 0.6rem;
    color: #00183acb;
}

.left .subhead span {
    font-weight: bold;
    font-size: 2.7rem;
}

.left .para {
    font-size: 1.1rem;
    margin-bottom: 3rem;
    color: #04000dcb;
}

.left .button {
    text-decoration: none;
    color: #cccccc;
    padding: 0.8rem 1.7rem;
    width: max-content;
    border-radius: 15px;
    font-weight: bold;
    font-size: 1rem;
    margin: 0.3rem 0;
    background: linear-gradient(128deg, #ff3838, #3515ff);
}
.button.mobile{
    display: none;
}

.left .button:hover {
    animation: bgChange 5s ease-in infinite;
}

.right {
    flex: 1;
    flex-basis: 40%;
}

.right img {
    height: 80%;
}







/* add transaction page designs */

.transmain {
    min-height: calc(100vh - 6rem);
    display: flex;
    background: radial-gradient(circle at 33% 100%, #fed373 4%, #f15245 30%, #d92e7f 62%, #9b36b7 85%, #b0cf51);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    animation: opacity 3s linear infinite;
}

@keyframes opacity {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0.9;
        background: radial-gradient(circle at 33% 100%, #fe73e5 4%, #d92e7f 30%, #f15245 62%, #b0cf51 85%, #9b36b7);
    }

    100% {
        opacity: 1;
    }
}

.transcontainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    border-radius: 1rem;
    padding: 0.9rem 4rem 2rem 4rem;
    background: #ffffff;
    box-shadow: 10px 10px 23px #0c326f,
        -10px -10px 23px #430f0f;
    transition: all 0.3s ease-in;
}

.transcontainer:hover {
    transform: scale(1.02);
}

.transcontainer form {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.field {
    display: flex;
    gap: 0.5rem;
    align-items: baseline;
    align-self: center;
}

.field label {
    font-size: 1.2rem;
}

.field input {
    font-size: 1.3rem;
    padding: 0.3rem 0.4rem 0.1rem 0.3rem;
}

.transcontainer form button {
    padding: 0.5rem;
    border-radius: 0.5rem;
    border: 1px solid grey;
    cursor: pointer;
    font-weight: bold;
    background-color: rgb(196, 230, 28);
}

.field button {
    cursor: pointer;
    width: 5rem;
}

.field a {
    color: #4f34fd;
    font-weight: 500;
    text-decoration: none;
}

@media screen and (max-width:600px) {
    .home-main {
        flex-direction: column;
        padding: 15%;
        justify-content: space-between;
    }
    .home-main :is(.left,.right){
        width: 100%;
    }
    .right img{
        width: 100%;
    }
    .button.mobile{
        display: inline-block;
    }
}